body {
  background-color: #212121;
  background-image: url(./images/emojibackground.jpg);
  background-size: cover;
}
@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Noto+Sans+JP:wght@900&family=Quicksand:wght@700&display=swap");

.title {
  text-align: center;
  margin-top: 50px;
}

.fetch-btn {
  margin: 10px auto;
  display: block;
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 12px;
  border-color: #04aa6d;
  color: green;
}

.fetch-btn:hover {
  background-color: #04aa6d;
  color: black;
}

.joke {
  margin: auto;
  width: 25%;
  /* align-content: center; */
  text-align: center;
}

.joke-content {
  font-size: 20px;
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10%;
}
